/* =========================================================
 * Base styles that apply only to generic element selectors
 * =========================================================*/
body, *, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

h1 {
    font-size: 1.8em;
    line-height: 1em;
}

h2 {
    font-size: 1.4em;
    line-height: 1em;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

em {
    font-weight: bold;
}

small {
    font-size: 0.8em;
}

/* =========================================================
 * Style classes starting with "l-" refer to "layout" components
 * (grouping concepts that affect layout, width and margins)
 * =========================================================*/
.l-pad {
    padding: 1em;
}

.l-sidebar {
    width: 250px;
}

.l-content {
    padding: 1em;
    overflow: hidden;
}

.l-content-constrained {
    }
    @media (min-width: 700px) {
        .l-content-constrained {
            padding-left: 270px;
        }
    }

.l-row {
    display: table;
    width: 100%;
}

.l-column {
    display: table-cell;
    vertical-align: top;
}

/* =========================================================
 * Modular and reusable styles
 * =========================================================*/

 .cf {
    overflow: hidden;
 }

 .standout {
    background-color: #eee;
 }

 .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,0.4);
 }

.logo {
    font-family: "Stoke", serif;
    }

    .logo h1 {
        display: inline-block;
        margin-right: 0.5em;
    }

.logo-sub {
    color: #333;
    font-size: 0.6em;
    font-weight: 100;
}

.topbar {
    background-color: #fff;
}

.topbar-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #1aa1e1;
    display: inline-block;
    }
    .topbar-title i {
        font-size: 1.5em;
        margin-right: 0.5em;
    }
    .topbar-title > h2 {
        display: inline-block;
    }

.category-toggle {
    }
    @media (min-width: 700px) {
        .category-toggle {
            display: none;
        }
    }

.categories {
    display: none;
    position: absolute;
    z-index: 100;
    font-size: 1.2em;
    line-height: 2em;
    padding: 0.5em 0;
    }
    @media (min-width: 700px) {
        .categories { display: block; }
    }

    .categories a {
        color: #444;
        display: block;
        padding-left: 1em;
        padding-right: 1em;
    }

    .categories a:hover {
        background-color: #e5e5e5;
    }

.thumbs {
    text-align: center;
}

.thumb {
    display: inline-block;
    max-height: 207px;
    margin: 0.5em 0.2em;
    }

    .thumb-link {
        display: block;
        position: relative;
    }
    .thumb-link:hover > .overlay {
        display: block;
    }

.books,
.book {
    display: none;
}

.book-header {
    border-bottom: 2px solid #ccc;
}

.title {
    font-size: 1.8em;
    line-height: 1em;
    padding-bottom: 0.2em;
}

.thumb-image {
    width: 220px;
}

/* =========================================================
 * Classes describing state
 * =========================================================*/

.is-visible {
    display: block;
}
