<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Books on Foogle play</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Stoke:300|Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
</head>
<body>

<header>
    <div class="l-pad">
        <span class="logo">
            <h1>Foogle <span class="logo-sub">play</span></h1>
        </span>
    </div>

    <div class="topbar cf" data-id="topbar">
        <span class="topbar-title l-sidebar l-pad" >
            <a data-id="category-toggle" class="category-toggle" href="#"><i class="fa fa-bars"></i></a>
            <i class="fa fa-book"></i>
            <h2>Books</h2>
        </span>

        <div class="categories l-sidebar standout" data-id="categories">
            <ul>
                <li><a data-id="category" href="#category/all">All</a></li>
                <li><a data-id="category" href="#category/scifi">Science Fiction</a></li>
                <li><a data-id="category" href="#category/romance">Romance</a></li>
                <li><a data-id="category" href="#category/horror">Horror</a></li>
                <li><a data-id="category" href="#category/sport">Sports</a></li>
            </ul>
        </div>

    </div>

    <div>
    </div>
</header>


<div class="books-wrapper" data-id="books-wrapper">
    <div class="books l-content l-content-constrained" data-id="books-list" >
        <ul class="thumbs">
            <li class="thumb">
                <a class="thumb-link" href="#">
                    <span class="overlay"></span>
                    <img src="http://books.google.co.uk/books?id=-fGmwe2AVWIC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE73AE09Yy-8kht26JEYWk3wSTwh68lxELYfC-3NBbWQI8q2f2XmK5K5oQ38EQ0-7b90aiy_QaY5uZo1Ka1Oy7HlSi583OHfP2IhLlanw9Z8BF6UElFA&source=gbs_api">
                </a>
            </li>
            <li class="thumb">
                <a class="thumb-link" href="#">
                    <span class="overlay"></span>
                    <img src="http://books.google.co.uk/books?id=-fGmwe2AVWIC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE73AE09Yy-8kht26JEYWk3wSTwh68lxELYfC-3NBbWQI8q2f2XmK5K5oQ38EQ0-7b90aiy_QaY5uZo1Ka1Oy7HlSi583OHfP2IhLlanw9Z8BF6UElFA&source=gbs_api">
                </a>
            </li>
            <li class="thumb">
                <a class="thumb-link" href="#">
                    <span class="overlay"></span>
                    <img src="http://books.google.co.uk/books?id=-fGmwe2AVWIC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE73AE09Yy-8kht26JEYWk3wSTwh68lxELYfC-3NBbWQI8q2f2XmK5K5oQ38EQ0-7b90aiy_QaY5uZo1Ka1Oy7HlSi583OHfP2IhLlanw9Z8BF6UElFA&source=gbs_api">
                </a>
            </li>
            <li class="thumb">
                <a class="thumb-link" href="#">
                    <span class="overlay"></span>
                    <img src="http://books.google.co.uk/books?id=-fGmwe2AVWIC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE73AE09Yy-8kht26JEYWk3wSTwh68lxELYfC-3NBbWQI8q2f2XmK5K5oQ38EQ0-7b90aiy_QaY5uZo1Ka1Oy7HlSi583OHfP2IhLlanw9Z8BF6UElFA&source=gbs_api">
                </a>
            </li>
            <li class="thumb">
                <a class="thumb-link" href="#">
                    <span class="overlay"></span>
                    <img src="http://books.google.co.uk/books?id=-fGmwe2AVWIC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE73AE09Yy-8kht26JEYWk3wSTwh68lxELYfC-3NBbWQI8q2f2XmK5K5oQ38EQ0-7b90aiy_QaY5uZo1Ka1Oy7HlSi583OHfP2IhLlanw9Z8BF6UElFA&source=gbs_api">
                </a>
            </li>
            <li class="thumb">
                <a class="thumb-link" href="#">
                    <span class="overlay"></span>
                    <img src="http://books.google.co.uk/books?id=-fGmwe2AVWIC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE73AE09Yy-8kht26JEYWk3wSTwh68lxELYfC-3NBbWQI8q2f2XmK5K5oQ38EQ0-7b90aiy_QaY5uZo1Ka1Oy7HlSi583OHfP2IhLlanw9Z8BF6UElFA&source=gbs_api">
                </a>
            </li>
            <li class="thumb">
                <a class="thumb-link" href="#">
                    <span class="overlay"></span>
                    <img src="http://books.google.co.uk/books?id=-fGmwe2AVWIC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE73AE09Yy-8kht26JEYWk3wSTwh68lxELYfC-3NBbWQI8q2f2XmK5K5oQ38EQ0-7b90aiy_QaY5uZo1Ka1Oy7HlSi583OHfP2IhLlanw9Z8BF6UElFA&source=gbs_api">
                </a>
            </li>
            <li class="thumb">
                <a class="thumb-link" href="#">
                    <span class="overlay"></span>
                    <img src="http://books.google.co.uk/books?id=-fGmwe2AVWIC&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE73AE09Yy-8kht26JEYWk3wSTwh68lxELYfC-3NBbWQI8q2f2XmK5K5oQ38EQ0-7b90aiy_QaY5uZo1Ka1Oy7HlSi583OHfP2IhLlanw9Z8BF6UElFA&source=gbs_api">
                </a>
            </li>
        </ul>
    </div>

    <div class="book" data-id="book">
        <header class="book-header l-content l-content-constrained l-row">

            <div class="l-column thumb-image">
                <img src="http://books.google.co.uk/books?id=iX9mAwAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=2&amp;edge=curl&amp;imgtk=AFLRE707iUShEVwVUUyEu5XwxG4W-ygp-U1saIgJTyp1DU8c-5hHkpz3SeSuJqOUwmiIqY2jD0bHhA67mC2Rz6pFLI_QYZQQ0iBMqUoKFBXGweWTX3FaqvE&amp;source=gbs_api">
            </div>

            <div class="l-column l-pad">
                <div class="title">Six Scifi Stories Volume Four</div>

                <div>
                    <em>Robert Jeschonek</em> - 2014-04-23<br>
                    Pie Press - Publisher
                </div>
            </div>
        </header>

        <div class="book-content l-content l-content-constrained standout">
            <h1 class="title">Description</h1>

            <p>In these pages, Robert T. Jeschonek will take you on a tour
            of the wildest places and people you've never imagined.&nbsp; You've never met anyone quite like 12:30
            P.M., the fugitive time fragment...Frieda, the killer-haunting e-ghost...or
            Patty, the lunatic vagrant who keeps seeing Tijuana, Mexico where Cape Cod,
            Massachusetts should be.</p>
        </div>
    </div>
</div>

<script type="text/html" data-id="book-detail-view">
    <header class="book-header l-content l-content-constrained l-row">
        <div class="l-column thumb-image">
            <img src="<%= (images.small || images.thumbnail) %>">
        </div>
        <div class="l-column l-pad">
            <div class="title"><%= info.title %></div>
            <div>
                <%= (info.authors ? "<em>" + info.authors.join(" - ") + "</em> - " : "" + info.publishedDate) %>
                <br>
                <%= publisher %>
            </div>
        </div>
    </header>
    <div class="book-content l-content l-content-constrained standout">
        <h1 class="title">Description</h1>
        <%= info.description %>
    </div>
</script>

<script src="js/bootstrap.js"></script>
<script src="js/routers/Router.js"></script>
<script src="js/models/Book.js"></script>
<script src="js/models/Books.js"></script>
<script src="js/views/BooksList.js"></script>
<script src="js/views/BookDetail.js"></script>
<script src="js/views/TopBar.js"></script>

<script src="js/main.js"></script>
</body>
</html>
