<!DOCTYPE html>
<html>
<head>
    <title>Foogleplay Unit Tests</title>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/mocha/2.0.1/mocha.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mocha/2.0.1/mocha.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/chai/1.10.0/chai.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.7.3/sinon.js"></script>
</head>
<body>

<div id="mocha"></div>

<script>
mocha.setup("bdd");
expect = chai.expect;
assert = chai.assert;

window.onload = function() {
    window.mocha.run();
}
</script>


<script type="text/html" data-id="book-detail-view">
    <header class="book-header l-content l-content-constrained l-row">
        <div class="l-column thumb-image">
            <img src="<%= (images.small || images.thumbnail) %>">
        </div>
        <div class="l-column l-pad">
            <div class="title"><%= info.title %></div>
            <div>
                <%= (info.authors ? "<em>" + info.authors.join(" - ") + "</em> - " : "" + info.publishedDate) %>
                <br>
                <%= publisher %>
            </div>
        </div>
    </header>
    <div class="book-content l-content l-content-constrained standout">
        <h1 class="title">Description</h1>
        <%= info.description %>
    </div>
</script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>

<script src="js/bootstrap.js"></script>
<script src="js/routers/Router.js"></script>
<script src="js/models/Book.js"></script>
<script src="js/models/Books.js"></script>
<script src="js/views/BooksList.js"></script>
<script src="js/views/BookDetail.js"></script>

<script src="test/tests.js"></script>
</body>
</html>
